# Сборка и продакшен
/build
/dist
/dist-ssr

# Зависимости
/node_modules
/.pnp
.pnp.js

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Тестирование
/coverage

# Кэши линтеров и компиляторов
.eslintcache
*.tsbuildinfo

# Временные файлы Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Переменные окружения (важно не слить ключи и пароли в репозиторий)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db

# Настройки редакторов кода (IDE)
.idea/
.vscode/
*.swp
*.swo